<div class="modal" tabindex="-1" id="sectionSelectorModal">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="sectionSelectorTitle">Modal</h3>
            </div>
            <div class="modal-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sección</th>
                            <th>Profesor</th>
                            <th>Formato</th>
                            <th>Cupos</th>
                            <th>Horaio</th>
                        </tr>
                    </thead>
                    <tbody id="sectionSelectorTable">
                    </tbody>
                </table>
                <p class="text-muted">Si no se elige una sección, se considerarán todas</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="closeSectionSelectorButton">Guardar y cerrar</button>
            </div>
        </div>
    </div>

</div>
