{% extends "base.html" %}
{% load static manifest cache %}

{% block title %} Crea {% endblock %}

{% block head %}
<meta name="keywords" content="UC, Buscacursos, Ramos, Universidad Catolica, horario, ramos uc, buscador, cursos, banner uc, horario uc">
<meta name="author" content="Nicolas Mc Intyre, Andrés Urmeneta">
<meta name="description" content="Buscador de ramos para la Universidad Católica, ideal para planificar tu horario y encontrar electivos. Una alternativa a Buscacursos UC.">
{% endblock %}

{% block main %}
{% cache 21600 create %}

<!-- MODALS -->
{% include "courses/_section_select_modal.html" %}
{% include "courses/_info_modal.html" %}
{% include "courses/_quota_modal.html" %}

<!-- TOP -->
<div class="row">
    <!-- SCHEDULE LEFT -->
    <div class="col-xl-7">
        {% include "courses/_schedule_table.html" with is_interactive=True %}

        <div class="container-fluid text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" id="btn-prev" onclick="wp.prev()" disabled>Anterior</button>
                <button type="button" class="btn btn-primary" id="btn-next" onclick="wp.next()" disabled>Siguiente</button>
            </div>
        </div>

        <!-- LEYENDA -->
        <p>Al apretar los módulos podrás cambiar su estado entre <b>libre</b> y <b>no disponible</b> (oscurecido)</p>
        <div class="mx-2 text-center">
            <span class="badge bg-warning text-dark mb-1 me-2" style="font-size: 1em;">Cátedra</span>
            <span class="badge bg-success mb-1 me-2" style="font-size: 1em;">Ayudantía</span>
            <span class="badge bg-primary mb-1 me-2" style="font-size: 1em;">Laboratorio</span>
            <span class="badge bg-secondary mb-1 me-2" style="font-size: 1em;">Taller</span>
            <span class="badge bg-info text-dark mb-1 me-2" style="font-size: 1em;">Terreno</span>
            <span class="badge bg-danger mb-1 me-2" style="font-size: 1em;">Otro</span>
        </div>
    </div>

    <!-- DETAILS RIGHT -->
    <div id="agregados" class="col-xl-5 mt-xl-0 mt-4">
        <h4 id="combination-title">Combinación</h4>
        <table class="table table-sm">
           <thead>
            <tr>
                <th>Nombre</th>
                <th>Ramo</th>
                <th>Profesor/es</th>
                <th>Cupos disp.</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="combination"><tr><td colspan="5">No hay ninguna combinación</td></tr></tbody>
        </table>
        <h4>Ramos agregados</h4>
        <table class="table table-sm">
           <thead>
            <tr>
                <th></th>
                <th>Ramo</th>
                <th>Nombre</th>
                <th>Secciones</th>
                <th>Horarios</th>
                <th>Elegir sección</th>
            </tr>
            </thead>
            <tbody id="ramos"><tr><td colspan="5">No has agregado ningún ramo.</td></tr></tbody>
        </table>
    </div>
</div><!-- END TOP -->

<!-- SEARCH -->
<div>
    <hr>
    <!-- FAST SEARCH -->
    <form action="#" onsubmit="return wp.createSearch();">
        <div class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <h3>Búsqueda</h3>
            </div>

            <div class="col-12">
                <label class="visually-hidden" for="periodSelect">Periodo</label>
                <select class="form-select" id="periodSelect">
                    <option selected value="2022-2">2022-2</option>
                    <option value="2022-1">2022-1</option>
                    <option value="2021-2">2021-2</option>
                    <option value="2021-1">2021-1</option>
                </select>
            </div>

            <div class="col-12">
                <label class="visually-hidden" for="inputQuery">Nombre, sigla o profesor</label>
                <input type="text" class="form-control" id="inputQuery" placeholder="Nombre, sigla o profesor" autofocus>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary me-3">Buscar</button>
                <button class="btn btn-info me-1" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters">Ver Filtros</button>
                <button class="btn btn-info" type="reset" onclick="wp.clearSelects()">Borrar filtros</button>
            </div>
        </div>

        <!-- COLLAPSEABLE FILTERS -->
        <div id="filters" class="collapse mt-2" action="#">
            {% include "courses/_base_filters.html" %}

            <!-- REST OF FILTERS ROWS -->
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="requisitos">
                <label class="form-check-label" for="requisitos">Descartar ramos con requisitos</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="quota">
                <label class="form-check-label" for="quota">Descartar ramos sin cupos libres (No es instantáneo)</label>
            </div>
        </div><!-- END FILTER -->
    </form>

    <!-- RESULTS TABLE -->
    <div class="table-responsive">
        <table class="table mt-3">
            <thead>
                <th></th>
                <th>Ramo</th>
                <th>Nombre</th>
                <th>Secciones</th>
                <th>Horarios</th>
            </thead>
            <tbody id="results"><tr></tr></tbody>
            <tfoot>
                <td id="resultsFoot" colspan="6">Busca para encontrar ramos.</td>
            </tfoot>
        </table>
    </div>
</div><!-- END SEARCH -->


{% endcache %}
{% endblock %}


{% block scripts %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% manifest 'create.js' %}"></script>
{% endblock %}
