{% extends "base.html" %}
{% load static manifest cache %}

{% block title %} Planifica {% endblock %}

{% block head %}
<meta name="keywords" content="UC, Buscacursos, Ramos, Universidad Catolica, horario, ramos uc, buscador, cursos, banner uc">
<meta name="author" content="Nicolas Mc Intyre">
<meta name="description" content="Buscador de ramos para la Universidad Católica, ideal para planificar tu horario y encontrar electivos. Una alternativa a Buscacursos UC.">
{% endblock %}

{% block main %}
{% cache 21600 planner %}

{% include "courses/_info_modal.html" %}

<!-- SAVE POPUP -->
<div id="saveModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Guardar horario</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>Si usas el mismo nombre que otro horario guardado, este se reemplazará.</p>
                <div class="form-group m-2">
                    <input placeholder="Nombre" class="form-control" id="saveName"/>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="wp.save()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div><!-- END SAVE POPUP -->

<!-- VIEW SAVED POPUP -->
<div id="savedModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Horarios guardados</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="savedTable"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div><!-- END VIEW SAVED POPUP -->

{% include "courses/_quota_modal.html" %}

<!-- TOP -->
<div class="row">
    <!-- SCHEDULE LEFT -->
    <div class="col-xl-7">
        {% include "courses/_schedule_table.html" with is_interactive=True %}

        <!-- LEYENDA -->
        <p>Al apretar los módulos podrás cambiar su estado entre <b>libre</b> y <b>no disponible</b> (oscurecido)</p>
        <div class="mx-2 text-center">
            <span class="badge bg-warning text-dark mb-1 me-2" style="font-size: 1em;">Cátedra</span>
            <span class="badge bg-success mb-1 me-2" style="font-size: 1em;">Ayudantía</span>
            <span class="badge bg-primary mb-1 me-2" style="font-size: 1em;">Laboratorio</span>
            <span class="badge bg-secondary mb-1 me-2" style="font-size: 1em;">Taller</span>
            <span class="badge bg-info text-dark mb-1 me-2" style="font-size: 1em;">Terreno</span>
            <span class="badge bg-danger mb-1 me-2" style="font-size: 1em;">Otro</span>
        </div>
    </div>

    <!-- DETAILS RIGHT -->
    <div id="agregados" class="col-xl-5 mt-xl-0 mt-4">
        <button onclick="wp.viewSaved()" type="button" class="btn btn-primary ms-3 mb-3" data-bs-toggle="modal" data-bs-target="#savedModal">Ver horarios guardados</button>
        <button onclick="wp.share()" type="button" class="btn btn-primary ms-3 mb-3 text-white">Compartir</button>
        <button onclick="wp.buscacursos()" type="button" class="btn btn-primary ms-3 mb-3">Ver en Buscacursos</button>
        <button id="ucalendar" class="btn ms-3 mb-3">Descargar horario</button>
        <button type="button" class="btn btn-primary ms-3 mb-3" data-bs-toggle="modal" data-bs-target="#saveModal">Guardar</button>
        <table class="table table-sm" id="ramos"></table>
    </div>
</div><!-- END TOP -->

<!-- SEARCH -->
<div>
    <hr>
    <!-- FAST SEARCH -->
    <form action="#" onsubmit="return wp.search();">
        <div class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <h3>Búsqueda</h3>
            </div>

            <div class="col-12">
                <label class="visually-hidden" for="periodSelect">Periodo</label>
                <select class="form-select" id="periodSelect">
                    <option selected value="2024-1">2024-1</option>
                    <option value="2023-2">2023-2</option>
                    <option value="2023-1">2023-1</option>
                    <option value="2022-2">2022-2</option>
                    <option value="2022-1">2022-1</option>
                    <option value="2021-2">2021-2</option>
                    <option value="2021-1">2021-1</option>
                    <option value="2020-2">2020-2</option>
                    <option value="2020-1">2020-1</option>
                    <option value="2019-2">2019-2</option>
                </select>
            </div>

            <div class="col-12">
                <label class="visually-hidden" for="inputQuery">Nombre, sigla o profesor</label>
                <input type="text" class="form-control" id="inputQuery" placeholder="Nombre, sigla o profesor" autofocus>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary me-3">Buscar</button>
                <button class="btn btn-info me-1" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters">Ver Filtros</button>
                <button class="btn btn-info" type="reset" onclick="wp.clearSelects()">Borrar filtros</button>
            </div>
        </div>

        <!-- COLLAPSEABLE FILTERS -->
        <div id="filters" class="collapse mt-2" action="#">
            <!-- FIRST ROW FILTERS -->
            {% include "courses/_base_filters.html" %}

            <!-- REST OF FILTERS ROWS -->
            <div class="form-check mt-2">
                <input type="checkbox" class="form-check-input" id="tope_horario">
                <label class="form-check-label" for="tope_horario">Descartar ramos que topen en mi horario (Se considera como mi horario los módulos con fondo oscurecido)</label>
            </div>
            <div class="form-check ms-3">
                <input type="checkbox" class="form-check-input" id="tope_ayu">
                <label class="form-check-label" for="tope_ayu">Permitir tope de ayudantías y terreno con cualquier módulo.</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="requisitos">
                <label class="form-check-label" for="requisitos">Descartar ramos con requisitos</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="quota">
                <label class="form-check-label" for="quota">Descartar ramos sin cupos libres (No es instantáneo)</label>
            </div>
        </div><!-- END FILTER -->
    </form>

    <!-- RESULTS TABLE -->
    <div class="table-responsive">
        <table class="table mt-3">
            <thead>
                <th></th>
                <th>Ramo</th>
                <th>Nombre</th>
                <th>Profesor/es</th>
                <th>Campus</th>
                <th>Cupos disp.</th>
                <th style="min-width: 100px;">Horario</th>
            </thead>
            <tbody id="results"><tr></tr></tbody>
            <tfoot>
                <td id="resultsFoot" colspan="6">Busca para encontrar ramos.</td>
            </tfoot>
        </table>
    </div>
</div><!-- END SEARCH -->

{% endcache %}
{% endblock %}


{% block scripts %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% manifest 'planner.js' %}"></script>
{% endblock %}
