{% load i18n static manifest %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE | default:"es" }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page_title %}{{ page_title }} - {% endif %}RamosUC</title>
    <meta property="og:title" content="{% if page_title %}{{ page_title }} - {% endif %}RamosUC" />
    <meta property="og:description" content="{% firstof page_description fallback_description %}"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.path }}" />
    <meta property="og:image" content="{% firstof page_img_path fallback_img_path %}" />
    <meta name="author" content="Nicolas Mc Intyre">
    <meta name="keywords" content="UC, Buscacursos, Ramos, Universidad Catolica, horario, ramos uc, buscador, cursos, banner uc">
    <meta name="description" content="{% firstof page_description fallback_description %}">

    {% if GA_CODE %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_CODE }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ GA_CODE }}');
    </script>
    {% endif %}

    <link rel="icon" href="{% static '/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}" type="image/x-icon" />

    <link rel="stylesheet" href="{% static '/main.css' %}">

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "https://ramosuc.cl/",
        "potentialAction": {
        "@type": "SearchAction",
        "target": {
            "@type": "EntryPoint",
            "urlTemplate": "https://ramosuc.cl/buscar?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
        }
    }
    </script>

    {% block head %}{% endblock %}
</head>

<body class="container px-1">
    {% include "_navbar.html" %}

    <!-- CONTENT BEGIN-->
    <div class="mt-3 px-1" role="main" style="min-height: calc(100vh - 200px);">
        {% block main %}
        {% endblock %}
    </div>
    <!-- CONTENT END-->

    <!-- FOOTER BEGIN -->
    <hr>
    <footer class="footer">
        <p class="text-muted mb-1 text-center">by Nico Mc. Mantenido con la ayuda de contribuidores de <a href="https://github.com/open-source-uc">Open Source UC.</a></p>
        <p class="text-muted mb-1 text-center">Con el apoyo de la Consejería Superior UC.</p>
        <p class="text-muted mb-3 text-center">Ver en <a href="https://github.com/open-source-uc/ramos-uc">GitHub</a></p>
    </footer>
    <!-- FOOTER END -->

    <script type="text/javascript" src="{% manifest 'runtime.js' %}"></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>
