{% extends "base.html" %}
{% load static manifest cache socialaccount %}

{% block title %} Inicio {% endblock %}

{% block main %}

<p class="display-6 text-center m-5">
    <i><b>Ramos<span class="text-primary">UC</span></b></i> es una plataforma <b>independiente (no oficial)</b> para ayudarte a elegir que ramos tomar.
    <br><br>
    Nuestra misión es que conozcas todas tus opciones y sepas todo lo que necesitas a la hora de decidir sobre tu próximo semestre.
</p>
<hr>

<p class="display-6 text-center m-3">
    ¿Qué hay en <i><b>Ramos<span class="text-primary">UC</span></b></i> ?
</p>
<div class="text-center">
    <div class="alert alert-primary">
        Información proveninente del Buscacursos UC y el Catálogo UC, esta información se recoge periódicamente, pero se puede demorar 
        algo en estar actualizada respecto a las páginas oficiales.
    </div>
    <div class="alert alert-primary">
        Un planificador simple y efectivo, con la posiblidad de filtrar ramos mediante muchos criterios.
    </div>
    <div class="alert alert-primary">
        Un filtro de ramos por horario que si sirve.
    </div>
    <div class="alert alert-primary">
        Datos de semestres anteriores, incluyendo gráficos de como se fueron tomando los cupos de los ramos para cada banner.
    </div>
    <div class="alert alert-primary">
        Colaboración entre alumnos, con recomendaciones sobre los ramos y su carga académica real.
    </div>
    <div class="alert alert-primary">
        Para esos momentos de tensión: la posibilidad de buscar ramos que todavía tienen cupos.
    </div>
    <div class="alert alert-primary">
        Los programas de los ramos, sus requisitos y una manera fácil de recorrerlos.
    </div>
    <div class="alert alert-primary">
        ¡Mucho más que puedes ir conociendo mientras planificas tus semestres!
    </div>
</div>
<hr>

<p class="display-6 text-center m-3">
    <b>Juntos</b>, podemos más.
</p>
<div class="text-center">
    Te invitamos a buscar los ramos que hayas hecho y los califiques.
    <br>
    Además, deja tus comentarios, preguntas y sugerencias aquí.
    <br><br>
    {% if user.is_authenticated %}
    <form action="{% url 'comments:create' %}" method="POST" class="d-flex mx-md-5">
        {% csrf_token %}
        <textarea name="message" class="form-control me-2" type="text" placeholder="Comentario, pregunta, sugerencia..." aria-label="Mensaje"></textarea>
        <button class="btn btn-outline-secondary" type="submit">Comentar</button>
    </form>
    {% else %}
    Debes <a href="{% provider_login_url "google" %}">ingresar con tu cuenta UC</a> para comentar.
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% manifest 'index.js' %}"></script>
{% endblock %}
